## Naive Bayes 
- It is a classification techique based on Baye's Theorem with an independence assumption among predictors.
- In simple terms, a Naive Bayes classifier assumes that the presence of a particular feature in a class is unrelated to the presence of any other feature.
- It is a popular supervised machine learnig algorithm used for classification tasks such as text classification.
<img title="a title" alt="Alt text" src="Bayes_rule.png">

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.columns

Index(['PassengerId', 'Name', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived'],
      dtype='object')

In [5]:
# drop the unnecesary columns 
df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis=1)
df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare  Survived
0       3    male  22.0      1      0   7.2500         0
1       1  female  38.0      1      0  71.2833         1
2       3  female  26.0      0      0   7.9250         1
3       1  female  35.0      1      0  53.1000         1
4       3    male  35.0      0      0   8.0500         0

In [6]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [7]:
X.Sex = X.Sex.map({
    'male': 1,
    'female': 2
})

In [8]:
X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    2  38.0      1      0  71.2833
2       3    2  26.0      0      0   7.9250
3       1    2  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [10]:
X.isnull().sum()

Pclass      0
Sex         0
Age       177
SibSp       0
Parch       0
Fare        0
dtype: int64

In [11]:
# fill the null with the mean 
age_mean = df['Age'].mean()
age_mean

29.69911764705882

In [12]:
X.Age = X.Age.fillna(age_mean)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [15]:
model.fit(X_train, y_train)

GaussianNB()

In [16]:
model.score(X_train, y_train)

0.800561797752809

In [17]:
model.score(X_test, y_test)

0.770949720670391

In [18]:
X_test[:10]

     Pclass  Sex        Age  SibSp  Parch     Fare
709       3    1  29.699118      1      1  15.2458
439       2    1  31.000000      0      0  10.5000
840       3    1  20.000000      0      0   7.9250
720       2    2   6.000000      0      1  33.0000
39        3    2  14.000000      1      0  11.2417
290       1    2  26.000000      0      0  78.8500
300       3    2  29.699118      0      0   7.7500
333       3    1  16.000000      2      0  18.0000
208       3    2  16.000000      0      0   7.7500
136       1    2  19.000000      0      2  26.2833

In [19]:
y_test[:10]

709    1
439    0
840    0
720    1
39     1
290    1
300    1
333    0
208    1
136    1
Name: Survived, dtype: int64

In [20]:
model.predict(X_test[:10])

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [21]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(), X_train, y_train, cv=5)

array([0.82517483, 0.81818182, 0.78873239, 0.73943662, 0.8028169 ])