## Decision Tree Classification 
- Decision Tree Classification is a supervised learning algorithm used for both binary and multi-class classification tasks.
- The decision tree is a tree-like model where each node represent a decision based on the value of a particular feature.
- the goal is to split the data into subsets and at each node the decision is made based on a feature that maximizes the seperation of classes.

In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [13]:
X = df.drop("salary_more_then_100k", axis=1)
y = df["salary_more_then_100k"]

In [14]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [15]:
X['company_n'] = le_company.fit_transform(X['company'])
X['job_n'] = le_job.fit_transform(X['job'])
X['degree_n'] = le_company.fit_transform(X['degree'])

In [16]:
X.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [17]:
X = X.drop(['company', 'job', 'degree'], axis=1)

In [18]:
X.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [20]:
y.head(3)

0    0
1    0
2    1
Name: salary_more_then_100k, dtype: int64

In [21]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X, y)

DecisionTreeClassifier()

In [22]:
model.score(X, y)

1.0